<html>
<head><title>Recuperar a senha</title></head>
<body>
  <h2>Olá, {{name}}</h2>

  <p>
    O código para alterar a senha é <strong>{{code}}</strong>
  </p>
  <p>
    Caso não tenha sido você que solicitou a alteração, por favor contate a equipe do devhub pelo e-mail: devhub@contato.com.br
  </p>
  <br>
  <h5><i>Att,  equipe devhub</i></h5>
</body>
</html>